.form-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: auto;
    margin: 20px auto;
    max-width: 800px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    margin-top: 200px;
    margin-bottom: 100px;
}

.form-container form {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc; /* Add border to divide the forms */
}

.form-container form:last-child {
    border-right: none; /* Remove border from the last form */
}

.form-container form h2 {
    margin-bottom: 20px;
}

.form-container form input[type="text"],
.form-container form input[type="password"],
.form-container form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container form input[type="checkbox"] {
    margin: 10px 0;
}

.form-container form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container form input[type="submit"]:hover {
    background-color: #0056b3;
}

.user-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.user-table th, .user-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
}

.user-panel {
    text-align: center; /* Center the text in the panel */
    margin: 20px auto; /* Center the panel horizontally */
    width: 80%; /* Adjust width as needed */
}

.user-table td {
    background-color: white;
}
