.portfolio {
    height: 250px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.portfolio:hover {
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
}

#portfolio-1 {
    background-image: url('../img/treningovy_plan/portfolio1.jpg');
}

#portfolio-2 {
    background-image: url('../img/treningovy_plan/portfolio2.jpg');
}

#portfolio-3 {
    background-image: url('../img/treningovy_plan/portfolio3.jpg');
}

#portfolio-4 {
    background-image: url('../img/treningovy_plan/portfolio4.jpg');
}